body {
  font-size: 25px;
  background-color: whitesmoke;
  min-height: 100vh;
  font-family: helvetica;
}


.input-group {
  width: 500px;
  padding-top: 40px;
  margin: auto;
  display: block;
}

th {
font-size: 15px;
text-align: center;
background-color: red;
}

input {
  height: 30px;
  font-size: 20px;
  width: 200px;
}

button {
  background-color: black;
  color: white;
  border-radius: 5px;
}

td{
  padding-left: 5px;
  font-size :15px;
}

.eventListRow {
  border: 3px solid black;
  height: 40px;
}

#filterInputs {
  align-content: center;
  size: 10px;
  float: left;
  padding-left: 5px;
}




