<body>
   <h1> Please see local event listings below:</h1> 

<div id="filterInputs">
  <label>Filter By Name</label>
  <input type="text"id="namefilter" required [(ngModel)]="nameFilter" name = "namefilter">
  <label>Filter By Genre</label>
  <input type="text"id="genrefilter" required [(ngModel)]="genreFilter" name = "genrefilter">
  <label>Filter By City</label>
  <input type="text"id="cityfilter" required [(ngModel)]="cityFilter" name = "cityfilter">
  <label>Filter By Type</label>
  <input type="text"id="typefilter" required [(ngModel)]="typeFilter" name = "typefilter">
</div>

<table>
        <tr>
          <th>Name:</th>
          <th>City:</th>
          <th>Genre:</th>
          <th>Event Type</th>
          <th></th>
        </tr>
        <tr class= "eventListRow" *ngFor="let event of filteredEvents" >
            <td> {{event.eventName}} </td>
            <td> {{event.eventAddress.city}} </td>
            <td> {{event.eventGenre}}</td>
            <td> {{event.eventType}}</td>

            <button (click)="eventInfo(event)">More Info</button> 
        </tr>
</table>   

</body>

