<body>
    Please see local event listings below:
</body>

<div class="formgroup">
  <label for="cityfilter">Filter By City</label>
  <br>
  <input type="text"id="cityfilter" required [(ngModel)]="cityFilterArgs.city" name = "cityfilter">
</div>

<table>
        <tr>
          <th>Name:</th>
          <th>City:</th>
          <th>Genre:</th>
          <th>Event Type</th>
          <th></th>
        </tr>
        <tr class= "eventListRow" *ngFor="let event of events | cityfilter:cityFilterArgs" >
            <td> {{event.eventName}} </td>
            <td> {{event.eventAddress.city}} </td>
            <td> {{event.eventGenre}}</td>
            <td> {{event.eventType}}</td>

            <button (click)="eventInfo(event)">More Info</button> 
        </tr>
</table>   

