body {
  font-size: 12px;
  background-color: whitesmoke;
  min-height: 100vh;
  font-family: helvetica;
}

.input-group {
  width: 500px;
  padding-top: 40px;
  margin: auto;
  display: block;
  padding-bottom: 75px;
}

input {
  height: 30px;
  font-size: 20px;
  width: 200px;
}

.thead {
 background-color: #333333;
 color: whitesmoke;
}

button {
  background-color: #333333;
  color: whitesmoke;
  border-radius: 5px;
}

button:hover{
  color:grey;
}

td{
  padding-left: 5px;
  font-size :15px;
}

.eventListRow {
  height: 40px;
}

#filterInputs {
  align-content: center;
  size: 10px;
  float: left;
  padding-left: 5px;
}




