body {
    font-size: 25px;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

  button {
    background-color: black;
    color: white;
    border-radius: 5px;
  }

  table {
    margin-left:auto; 
    margin-right:auto;
    border: 3px solid black;
    align-content: center;
    width: 50%;
  }

  td, th {
    padding-left: 5px;
  }

  .eventListRow {
    border: 3px solid black;
    height: 40px;
  }


