<div>
    <table>
        <tr>
          <th>Product</th>
          <th>Support & Resources</th>
          <th>Developers</th>
          <th>Partnerships</th>
        </tr>
        <tr>
          <td><a href="https://github.com/iperfitt">Ian Perfitt</a></td>
          <td><a href="https://github.com/iperfitt">Ian Perfitt</a></td>
          <td><a href="https://github.com/iperfitt">Ian Perfitt</a></td>
          <td><a href="https://github.com/iperfitt">Ian Perfitt</a></td>
        </tr>
        <tr>
          <td><a href="https://github.com/iperfitt">Ian Perfitt</a></td>
          <td><a href="https://github.com/iperfitt">Ian Perfitt</a></td>
          <td><a href="https://github.com/iperfitt">Ian Perfitt</a></td>
          <td><a href="https://github.com/iperfitt">Ian Perfitt</a></td>
        </tr>
      </table>
</div>
