<body> 
    <ul class="nav justify-content-center _nav">
        <li class="nav-item">
            <a >DIY Event App</a>
          </li>
        <li class="nav-item">
          <a class="nav-link nav-link2" routerLink="/allevents">View All Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link3" routerLink="/createevent">Create Event</a>

        <li class="nav-item">
          <a class="nav-link nav-link4" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a>
            <svg class="bi bi-person-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
            </svg>
          </a>
        </li>
      </ul>
      <router-outlet></router-outlet>
      <br>
  <app-footer id="footer"></app-footer>
</body>

