  ._nav {
    background-color: black;
    font-family: helvetica;
  }
img {
  align-content: auto;
}

._nav a {
    color: whitesmoke;
    background-color: black;
}

._nav a.nav-link2:hover {
  color: green;
  background-color: black;
} 
._nav a.nav-link3:hover {
  color: blue;
  background-color: black;
} 

#footer {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  
}
