body {
  margin-bottom: 50px;
}

._nav {
    background-color: #333333;
    font-family: helvetica;
}

img {
  align-content: auto;
}

._nav a {
    color: lightgrey;
    background-color: #333333;
}

._nav a.nav-link2:hover {
  color: whitesmoke;
  background-color: #333333;
} 
._nav a.nav-link3:hover {
  color: whitesmoke;
  background-color: #333333;
} 

#footer {
  background-color: #333333;
  color: white;
  position: fixed;
  bottom: 0px;
  margin-bottom: 0px;
  height: 100px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  
}
