<h1>Please enter the Event details below:</h1>

<body>
<div class="container">
    <form (ngSubmit)="submitEvent()" #eventForm="ngForm" class="eventForm">
      <div class="formgroup">
            <label for="name">Name</label>
            <br>
            <input type="text"id="name" required [(ngModel)]="model.eventName" name = "name">
        </div>
        <div class="formgroup">
          <br>
          <app-google-places (outputToParent) = "getOutputVal($event)"></app-google-places>
        </div>
      <div class="formgroup">
            <label for="genre">Genre</label>
            <br>
            <input type="text"id="genre" required [(ngModel)]="model.eventGenre" name = "genre">
      </div>
        <div class="buttoncontainer">
        <button type="submit" class="button">Create Event</button>
        </div>
    </form> 
  </div>
</body>